@charset "utf-8";


:root{
 --color-yellow: rgb(255, 200, 20);
 --text-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.8)
}

html{
 font-size: 10px;
 /*hyphens: auto*/
}

body{
 font-family: monospace;
 font-size: 1.4em
}


body > main{
 display: flex; justify-content: center; align-items: center
}


h1, h2, h3, h4{
 font-family: 'Arial Black', sans-serif;
}


.root{
 display: flex; flex-direction: column;
 flex-grow: 1;
 padding: 2rem
}

.object{
 background-color: rgba(200, 100, 0, .08);
 border: 1px solid rgba(0, 0, 0, .08); border-radius: .4rem;
 margin-top: .4rem;
 padding: 1rem;
 position: relative;
 min-width: 32rem;
}
.object:hover{
 cursor: pointer;
}

.title{
 font-size: 1.2rem; font-weight: normal;
}

.button{
 background-color: transparent;
 font-size: 2rem; line-height: 1;
 position: absolute; top: 0; right: .4rem;
}
.button:hover{
 transform: rotate(90deg);
}


.aside{
 background-color: rgba(200, 100, 0, .02);
 overflow: hidden;
 transition: var(--transition);
 width: 0; height: 100vh
}
.aside.active{
 padding: 1rem;
 width: auto;
}


@media all and (max-width: 320px){

}