@charset "utf-8";


:root{
    --color-yellow: rgb(255, 200, 20);
    --color-border: rgba(0, 0, 0, .2);

    --text-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.8);
}

html{
    font-size: 10px;
    /*hyphens: auto*/
}

body{
    font-family: monospace; font-size: 1.4em;
    display: flex; flex-direction: column;
}


body > main{
    background-color: white;
    display: flex; flex-direction: column; justify-content: center; align-items: center; gap: .4rem;
    flex-grow: 1;
}


h1, h2, h3, h4{
    font-family: 'Arial Black', sans-serif;
}



/* < header */
.header{
    background-color: #eee;
    display: flex; justify-content: space-between;
    padding: 1rem;
    position: sticky; top: 0; z-index: 8;
}
/* > header */



@media all and (max-width: 320px){

}